# Copy this file and rename it `env`
# Do NOT ever include your *real* env in version control

MYSQL_DATABASE=msis_triage
MYSQL_HOST=msis.cbvdxhraatnk.us-east-1.rds.amazonaws.com
MYSQL_USER=torhamer
MYSQL_PASSWORD=Google135!
